{% load static %} {% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% tailwind_css %}
  </head>

  <body class="bg-BGM">
    <nav
      class="container mx-auto p-4 max-w-screen-xl md:flex items-center justify-between"
    >
      <h1 class="text-4xl opacity">Show Your Work</h1>

      <div class="md:flex items-center space-x-4">
        <form action="">
          <input
            type="text"
            id="search"
            name="q"
            placeholder="Search..."
            class="border p-2 rounded w-48"
          />
        </form>

        <div class="p-2 inline-block space-x-4">
          <p class="text-2xl ">
            <a href="#" class="bg-slate-50 px-2  text-blue-500">+</a>
          </p>
        </div>

        <p class="text-2xl space-x-4"><a href="#">Profile</a></p>
        <p class="text-2xl"><a href="#">Logout</a></p>
      </div>
    </nav>

    {% block content %} {% endblock content %}
  </body>
</html>
